[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A test repo
[access "refs/*"]
	owner = group user/Daniela-Mărinela Bistrean (DanielaBistrean)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Daniela-Mărinela Bistrean (DanielaBistrean)
	label-Verified = -1..+1 group user/Daniela-Mărinela Bistrean (DanielaBistrean)
	push = group user/Daniela-Mărinela Bistrean (DanielaBistrean)
	read = group user/Daniela-Mărinela Bistrean (DanielaBistrean)
	rebase = group user/Daniela-Mărinela Bistrean (DanielaBistrean)
	removeReviewer = group user/Daniela-Mărinela Bistrean (DanielaBistrean)
	submit = group user/Daniela-Mărinela Bistrean (DanielaBistrean)
[access "refs/heads/*"]
	create = group user/Daniela-Mărinela Bistrean (DanielaBistrean)
	push = +force group user/Daniela-Mărinela Bistrean (DanielaBistrean)
	pushMerge = group user/Daniela-Mărinela Bistrean (DanielaBistrean)
	read = group user/Daniela-Mărinela Bistrean (DanielaBistrean)
[access "refs/tags/*"]
	push = group user/Daniela-Mărinela Bistrean (DanielaBistrean)
	push = +force group user/Daniela-Mărinela Bistrean (DanielaBistrean)
